.navbar{
    display: flex;
    background-color: #f8f3fd;
    align-items: center;
    justify-content: space-evenly;
    border-color: blue;
}
.navbar a{
    padding: 15px;
    font-size: 20px;
}
.grid-container{
    display: flex;

}
p{
    text-align: center;
}